body {
    background-color: #BBB;
}

.quiz-container {
    width: 28rem;
    min-height: 22rem;
    transition: 200ms;
}

.questions {
    animation: fade-in 500ms;
}
.progress {
    padding: 0 0 20px;
}
.progress-bar {
    height: 20px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.questions button {
    width: 100%;
    height: 5em;
    margin-top: 1rem;
    white-space: normal;
}

#question-results > .row > div:first-child > ol > li:first-child > b {
    color: mediumseagreen;
}
